# LIST EXCERCISE-2

# Declaring a List

In [1]:
L=[1,'a',"string",1+2]
print(L)

[1, 'a', 'string', 3]

In [3]:
Adding lists
a=[10,20,30,40,50,60,70,80,90]
print(a+[100,110,120])

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]

In [4]:
a=[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]
print(a[0]) # printing first value

10

In [5]:
print(a[-1]) # prinitng a last value

120

In [6]:
print(a[::-1]) # Printing in reverse order

[120, 110, 100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [7]:
a=[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]
a[2]=356
print(a) # changing value of index 2 to 356

[10, 20, 356, 40, 50, 60, 70, 80, 90, 100, 110, 120]

In [8]:
a=[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]
del a[3]
print(a)

[10, 20, 30, 50, 60, 70, 80, 90, 100, 110, 120]

In [9]:
a=[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]
print(a[2:6]) # Starts at 2 Index and end at 5th Index and excludes 6th value

[30, 40, 50, 60]

In [10]:
a=[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]
a[3:7]= [500,300,200,150]
print(a) # Replacing values from index 3 to 7 which starts at 3 and ends at 6 excluding 7.

[10, 20, 30, 500, 300, 200, 150, 80, 90, 100, 110, 120]

In [11]:
a=[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]
a[1:4]=[]
print(a) # Removing values from Index 1 to 4 which starts at 1 and ends at 3 excluding 4.

[10, 50, 60, 70, 80, 90, 100, 110, 120]

In [12]:
a=[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]
print(a*2) # Creating 2 arrays by squaring.

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]