## LIST EXERCISE

# Q 1: Given a Python list you should be able to display Python list in the following order

In [1]:
alist = [120,220,320,5000,25000,3500]

In [2]:
alist = alist[::-1]
# The slice statement means start at list length, end at position 0, move with the step -1 (or one step backward).

In [3]:
print(alist)

[3500, 25000, 5000, 320, 220, 120]

# Q 2: Concatenate two lists index-wise

In [9]:
list1 = ["M", "surna", "i", "Ki"] 
list2 = ["y", "me", "s", "lly"]

In [10]:
list3 = [i + j for i, j in zip(list1, list2)]
print(list3)

['My', 'surname', 'is', 'Killy']

# Q 3: Given a Python list. Turn every item of a list into its square

In [17]:
bList = [9, 12, 3, 4, 5, 6, 7]

In [18]:
bList = [x * x for x in bList]
print(bList)

[81, 144, 9, 16, 25, 36, 49]

# Q 4: Concatenate two lists in the following order

In [26]:
list1 = ["Hello ", "take "]
list2 = ["Brother", "Sir"]

In [27]:
reslist = [x+y for x in list1 for y in list2]
print(reslist)

['Hello Brother', 'Hello Sir', 'take Brother', 'take Sir']

# Q 5: Given a two Python list. Iterate both lists simultaneously such that list11 should display item in original order 
# and list21 in reverse order

In [29]:
list11 = [11, 21, 32, 44]
list21 = [105, 205, 305, 405]

In [32]:
for x,y in zip(list11,list21[::-1]):
    print(x,y)

11 405
21 305
32 205
44 105

# Q 6: Remove empty strings from the list of strings

In [43]:
list12 = ["Nike", "", "imma", "pelly", "", "Grad"]

# We can use a filter() function to remove None type from the list

In [44]:
reslist = list(filter(None,list12))
print(reslist)

['Nike', 'imma', 'pelly', 'Grad']

# Q 7: Add item 7000 after 6000 in the following Python List

In [62]:
list123 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [64]:
list123[2][2].append(7000)
print(list123)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

# Q 8: Given a nested list extend it with adding sub list ["h", "i", "j"] in a such a way that it will look like the following
# list

In [65]:
list1234 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

In [69]:
Sublist = ["h", "i", "j"]

In [71]:
list1234[2][1][2].extend(Sublist)
print(list1234)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

# Q 9: Given a Python list, find value 20 in the list, and if it is present, replace it with 200. 
#    Only update the first occurrence of a value

In [80]:
list4 = [5, 10, 15, 20, 25, 50, 20]

In [81]:
index=list4.index(20)

In [82]:
list4[index] = 200
print(list4)

[5, 10, 15, 200, 25, 50, 20]

# Q 10: Given a Python list, remove all occurrence of 20 from the list

In [106]:
list5 = [5, 20, 15, 20, 25, 50, 20]
# Use the list comprehension

def removeValue(sampleList,val):
  return [value for value in sampleList if value != val]
reslist= removeValue(list5,20)
print(reslist)

[5, 15, 25, 50]